.views-partners {
  display: flex;
  gap: 30px;
}
.views-partners:first-child {
  display: flex;
  gap: 0;
  justify-content: center;
}
.views-field-field-organizers-and-partners img{
  width: 220px;
  border-radius: 15px;
}
.views-field-field-organizers-and-partners img[alt="Вітовта Великого"]{
  border-radius: 0;
}
.views-field-field-organizers-and-partners img[alt="ЛНТУ"]{
  width: 100%;
  min-width: 555px;
}
.views-field-field-name {
  align-items: center;
  display: flex;
  .field-content {
    font-size: 22px;
    font-style: italic;
  }
}
.view-committee-s {
  .views-block-org {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 30px;

    .views-field-field-image-committee img {
      width: 220px;
      height: auto;
      min-width: 220px;
    }

    .views-field-body {
      align-items: center;
      display: flex;
      font-size: 22px;
      line-height: 20px;
    }
    @media (max-width: 540px) {
      flex-direction: column;
      gap: 10px;
      .views-field-field-image-committee .field-content{
        display: flex;
        justify-content: center;
      }
    }
  }
}
.col-sponsors {
  display: flex;
  justify-content: center;
}
.views-col-sponsors {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.row-sponsors {
  display: flex;
  align-items: center;
}
.book {
  img {
    max-width: 480px;
    width: 100%;
  }
}
.gmaps {
  float: right;
}
.name-professors {
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 991px) {
  span.name-professors {
    font-size: 18px !important;
  }
}
