.views-partners {
  display: flex;
  gap: 30px;
}
.views-partners:first-child {
  display: flex;
  gap: 0;
  justify-content: center;
}
.views-field-field-organizers-and-partners img{
  width: 220px;
}
.views-field-field-organizers-and-partners img[alt="ЛНТУ"]{
  width: 100%;
  min-width: 555px;
}
.views-field-field-name {
  align-items: center;
  display: flex;
  .field-content {
    font-size: 22px;
  }
}
.view-committee-s {
  .views-block-org:first-child {
    .views-field-field-image-committee img{
      width: 270px;
    }
  }
  .views-block-org {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 30px;

    .views-field-field-image-committee img{
      width: 220px;
      height: auto;
    }

    .views-field-body {
      align-items: center;
      display: flex;
    }
  }
}
.col-sponsors {
  display: flex;
  justify-content: center;
}
.views-col-sponsors {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.row-sponsors {
  display: flex;
  align-items: center;
}
.book {
  img {
    max-width: 480px;
    width: 100%;
  }
}
.views-field-field-sponsors-image {
  img[alt="Мотор"]{
    background-image: url(https://www.skf.com/ua);
  }
}
